<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>

    <!-- navbar part -->
    {{>navbar}}

    <!-- main header  -->
    <div class="container">
        <div class="left">
            <h2>Get the latest Weather info of your location</h2>
            <a href="/weather"><button>Check Now</button></a>
        </div>
        <div class="right">
            <div class="carousel">
                <img src="./images/bg3.jpg" alt="">
            </div>
        </div>
    </div>

    <!-- footer part -->
    {{>footer}}

</body>

</html>