<nav>
    <div class="logo">
        <h2>Weather</h2>
    </div>
    <div class="anchor">
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
        <ul>
            <li><a href="/weather">Weather</a></li>
        </ul>
    </div>
</nav>